body{
  color: #555;
  margin: 0;
}

viewport{
  width: device-width;
  zoom: 1.0;
}

#header{
  width: auto;
  padding: 30px;
  text-align: center;
  background: #1abc9c;
  color: #FFFFFF;
  font-size: 30px;
  height: 250px;
  text-transform: uppercase;
}

#header img{
    float: left;
    width: 150px;
    height: 150px;
    background: #555
}

#header-title {
  display: block;
}
#header h1{
  position: relative;
  top: 10px;
  left: 10px;
}

#header-nav {
  position:relative;
}

#content img{
  width: auto;
  max-width: 100%;
  height: auto;
}  
  
.flex-container{
  display: flex;
  flex-direction: row;
}

.item-1{
  border: 1px solid #000000;
}

.item-2{
  border: 1px solid #000000;
}

.item-3 {
  border: 1px solid #000000;
}

#footer {
  background-color: #2f2f2f;
  padding: 50px 0;
}

.column {
  width: 33%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

#footer h4{
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

a{
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  color: #f53300;
}
